html
    head
        title= title
    body
        div Create User
            form(action='/' method='post')
                input(type='text', name='userId', placeholder='userId')
                input(type='text', name='username', placeholder='Name')
                input(type='email', name='email', placeholder='email')
                input(type='text', name='address', placeholder='Address')
                input(type='number', name='age', placeholder='Age')
                input(type='submit', value='Add User')

        a(href='/users/') See list of users

